<div class="tab-pane" id="about">
	<div style="text-align: center;">
		<h3>Rfx - the reactive real-time big data framework</h3>
		<p>applied Reactive Lambda Architecture and the platform for next-generation users in the data-driven business</p>
		<a href="http://www.mc2ads.com" target="_blank">The Rfx framework is made with passion at mc2ads.com</a>
	</div>
</div>